@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Playfair+Display&display=swap');

:root {
  --title-color: #222;
  --font-color: #555;
  --website-background: #f9f8f2;
  --button-background: #8dbfa7;
  --button-background-hover: #87b29c;
  --button-background-active: #7fa792;
  --button-font: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #fff;
  }
}

body {
  font-family: 'Playfair display', serif;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: var(--font-color);
  line-height: 2em;
  background-color: var(--website-background);
}

button {
  height: 2.5rem;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
}

h1 {
  font-size: 3rem;
}

h2,
h3,
h4 {
  margin: 2.5rem 0 1rem;
}

p {
  margin: 1.5rem 0 1.5rem;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-light {
  font-weight: 300;
}

.font-type-serif {
  font-family: 'Playfair display', serif;
}

.font-type-sans {
  font-family: 'Open Sans', sans-serif;
}

.wrap {
  max-width: 60em;
  margin: auto;
  padding: 4rem 2rem;
}

header.intro {
  padding-top: 6rem;
  padding-right: 25%;
  h1 {
    line-height: 1em;
    span.font-type-serif {
      font-size: 0.7em;
    }

    span.font-type-sans {
      letter-spacing: -2px;
    }
  }
}

button {
  background-color: var(--button-background);
  font-size: 1rem;
  padding: 0.5em 1em;
  color: var(--button-font);
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  a {
    text-decoration: none;
    color: var(--button-font);
  }
  &:hover {
    background-color: var(--button-background-hover);
  }
  &:active {
    background-color: var(--button-background-active);
  }
}

#projects {
  max-width: 1300px;
  margin: auto;
}
