@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Playfair+Display&display=swap');

:root {
  --title-color: #222;
  --font-color: #555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #fff;
  }
}

body {
  font-family: 'Playfair display', serif;
  font-family: 'Open Sans', sans-serif;
}
