.back {
  //   border-bottom: thin solid var(--title-color);
  max-width: 1200px;
  margin: auto;
  padding: 1rem 0 0;
  a {
    text-decoration: none;
    font-size: 1.5em;
    &:visited {
      color: var(--title-color);
    }
  }
}
